* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: #343736;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}